<mat-list-item>
  <!-- Task item flex box allows clicking anywhere in the screen element -->
  <div (click)="onClick()">
    <mat-checkbox
      [checked]="task.completed"
      (change)="onCheck()"
    ></mat-checkbox>
    <span [ngStyle]="{ color: task.completed ? 'blue' : 'black' }"
      >{{ task.name }}
    </span>
  </div>
  <!-- Done right display -->
  <!-- subtasks -->
  <div *ngIf="showSubtasks">
    <app-subtask
      *ngFor="let subTask of task.Subtasks"
      [subtask]="subTask"
    ></app-subtask>
  </div>
</mat-list-item>
