<div>
  <!-- Task item flex box allows clicking anywhere in the screen element -->
  <div (click)="onClick()">
    <mat-checkbox [checked]="task.completed" (change)="onCheck()"></mat-checkbox>
    <span>{{ task.name }}{{ completed$ | async}}</span>
  </div>
  <!-- Done right display -->
  <div *ngIf="task.completed">Done</div>
  <!-- subtasks -->
  <div *ngIf="showSubtasks">
    <app-subtask
      *ngFor="let subTask of task.Subtasks"
      [subtask]="subTask"
    ></app-subtask>
  </div>
</div>
