<div>
  <mat-checkbox></mat-checkbox>
  <!-- header -->
  <div>
    <!-- <h3 >This week</h3> -->
    <button mat-raised-button color="primary" (click)="onClick_Add()">
      Add
    </button>
    <button mat-raised-button color="primary" (click)="onClick_Load()">
      Reload
    </button>
  </div>
  <mat-list>
    <app-task
      *ngFor="let taskItem of tasks$ | async"
      [task]="taskItem"
      (deleted)="handleTaskDeletion(taskItem)"
      (completeChanged)="handleCompleteChanged(taskItem)"
    ></app-task>
  </mat-list>
</div>
